* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    color: #333;
}

.header {
    position: sticky;
    top: 0;
    background-color: #F5D6CF;
    color: #955D19;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-links {
    display: flex;
    gap: 15px;
    align-items:end;
}

    .nav-links a {
        color: #955D19;
        text-decoration: none;
        font-size: 16px;
    }

/* Footer */
.footer {
    background-color: #F5D6CF;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    margin-bottom: 0px;
}


@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #F5D6CF;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

        .nav-links.show {
            display: flex;
        }

    .menu-icon {
        display: block;
    }
    .nav-links a {
        margin-right:10px;
    }
}
