* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope", sans-serif;
    color: #333;
}

.header {
    position: sticky;
    top: 0;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

/* Footer */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}


@media (max-width: 600px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

        .nav-links.show {
            display: flex;
        }

    .menu-icon {
        display: block;
    }
}
